<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001356375651-dp74mpp38s4jhu88shnctk4242gjs6c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001356375651-dp74mpp38s4jhu88shnctk4242gjs6c1</string>
	<key>API_KEY</key>
	<string>AIzaSyBBJUw5kE0qeMdt_ETfaTVxeVQIrMN9gZM</string>
	<key>GCM_SENDER_ID</key>
	<string>1001356375651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roujrouee.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todoapp-f1e93</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-f1e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001356375651:ios:88d9708ce08b27a9742a56</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-f1e93.firebaseio.com</string>
</dict>
</plist>